server {
    listen       80;
    server_name  localhost;

    location / {
        proxy_ssl_server_name on;
        proxy_pass   $REMOTE_HOST;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}

